*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}


body{
    background: linear-gradient(#000000 0%, #393939 60%, #8f8f8f 100%);
    display: flex;
    flex-direction: column;
}

nav{
    background: linear-gradient(rgba(45, 45, 45, 0.693)0%, rgba(82, 82, 82, 0.394) 10%,rgba(136, 136, 136, 0.061)100%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10%;
    z-index: 10;
    color: #9dff00;
    opacity: 40%;
    transition: 0.2s;
}

nav:hover{

    background: linear-gradient(rgba(45, 45, 45, 0.693)0%, rgba(60, 60, 60, 0.394) 10%,rgba(136, 136, 136, 0.27)100%);
    opacity: 100%;
    transition: 0.2s;
}


nav ul li{
    color: #9dff00;
    font-size: 18px;
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
    font-weight: 500;
    cursor: pointer;
    text-shadow: -1px 0px 2px rgba(0,0,0,1);
}

nav ul li:hover{
    animation: sizeChange;
    -webkit-animation: sizeChange 500ms;
    transform: scale(1.2);
}

nav .logo{
    width: 220px;
    height: 100px;
    cursor: pointer;
}

.nav-btn{
    background: #9dff00;
    color: #000000;
    font-size: 16px;
    padding: 15px 25px;
    border: 0;
    outline: 0;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 1px -1px 1px rgba(0,0,0,1);
    transition: 0.5s;
}

.nav-btn:hover{
    background: rgb(31, 90, 1);
    color: white;
    animation: colorChange;
    animation: sizeChange;
    transform: scale(1.2);
    transition: 0.5s;
}

.nav-btn img{
    width: 16px;
    margin-left: 8px;
}

.pwa-install{
    position: relative;
    margin-top: 15vh;
}

.install-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80%;
    width: fit-content;
    height: 100px;
    background: black;

    border-radius: 20px;
}

.install-box h1{
    margin-left: 10%;
    font-size: 20px;
    font-weight: 300;

    color: white;

}

.install-box img{
    margin-left: 6%;
    width: 50%;
    height: 50%;
}

.install-box button{
    margin-left: 10%;
    margin-right: 10%;
    height: 50px;
    width: 200px;
    border-radius: 2px;
    background: linear-gradient(#ffffff 0%, #848484 80%, #6d6d6d 100%);;
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-weight: 700;
}



/* =====================HEADER CONTENT===================== */

.header{
    width: 100%;
    min-height: 100vh;
    padding: 0 10%;
    display: flex;
}



.diagonal-background{
    background: #9dff00;
    width: 100%;
    height: 50%;
    transform: skewY(-4deg);
}

.left-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 45%;
    transform: skewY(4deg);
}

.heading-text{
    font-size: 7VW; 
    line-height: 7vw;
    color: #fff;
    text-shadow: -5px 3px 5px rgba(0,0,0,1);
}

.main-button{
    margin-top: 10%;
    display: flex;
    justify-content: left;
    align-items: center;
    transform: skewY(-4deg);
}

.main-button img{
    width: 15%;
    height: 5%;
}

.button-class{
    background: linear-gradient(#ffffff 0%, #848484 80%, #6d6d6d 100%);;
    box-shadow: -5px 3px 5px rgba(0,0,0,1);;
    border-radius: 40px;
    opacity: 20%;
    transition: 1s;
}

.button-class:hover{
    opacity: 1;
    scale: 1.1;
    transition: all 1s;
}

.button-class img{
    margin-left: 20px;                    
}


.right-div{
    display: flex;
    margin-left: 10%;
    width: 45%;
    position: relative;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}

.newImage{
    
    height: 48vw;
    margin-left: 20%;
    position: absolute;
    max-width: auto;
    z-index: -1;
}



/* =====================BUTTON CONTENT===================== */

.header button{
    margin-top: 1%;
    border: 0;
    outline: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-right: 40px;
    cursor: pointer;
}

.menu-icon{
    display:none;
}


/* ====================== Secondary Elements ====================== */

.secondary-elements{
    display: block;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 0px 10%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.title-text{
    line-height: -30vh;
    font-size: 50px;
    color:#fff;
    text-align: center;
    overflow:inherit;
    text-shadow: -5px 3px 5px rgba(0,0,0,1);

    opacity: 0;
    filter:blur(5px);
    transform: translateX(-100%);
    transition: all 0.8s;
}

.cards{
    margin-top: 6%;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    filter:blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.box{
    position:relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    transition: 0.5s;
}

.box .imgBox{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.box:hover{
    height: 550px;
    transform: scale(1.2);
}


.box .imgBox img{
    max-width: 100%;
    opacity: 0.5;
    transition: 0.5s;
}

.box:hover .imgBox img{
    opacity: 1;
}

.box:before{
    content:'';
    position: absolute;
    top:-2px;
    left: -2px;
    right: -2px;
    bottom:-2px;
    background: #000;
}

.box:after{
    content:'';
    position: absolute;
    top:-2px;
    left: -2px;
    right: -2px;
    bottom:-2px;
    background: #000;
    z-index: -2;
    filter: blur(40px);
    
} 

.box:before, .box:after{
    background: linear-gradient( #9dff00 0%,  #3b2b2b 20%, #4a3465 100% );
}

.box .content{
    position: absolute;
    bottom: 0;
    left: 10px;
    right:10px;
    bottom: 10px;
    height: 90px;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}

.box:hover .content{
    opacity: 1;
    transition: 1.0s;
}

.box .content h2{
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 1px;
}

.box .info-box{
    position: absolute;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50%;

    opacity: 0;
    transition: 0.8s;
}

.box:hover .info-box{
    opacity: 1;
    transition: 1.5s;
}

.box .info-box h2{
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 25px;
    color: white;
}

/* ======================Tertiary Elements ====================== */

.tertiary-elements{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    padding: 0px 10%;
}

.improvement-text{
    opacity: 0;
    filter: blur(10px);
    transition: 2s;
}

.improvement-text h1{
    font-size: 6VW; 
    line-height: 6vw;
    letter-spacing: 2px;
    color: white;
    text-shadow: -5px -1px 5px rgba(0,0,0,1);
}

.image-location{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: 1s;
}

.picture{
    margin: 5%;
}

.picture img{
    position: relative;
    max-width:500px;
    max-height: 450px;
    border-radius: 10%;
    transition: 0.5s;
}

.picture img:hover{
    transform: scale(1.2);
    border-radius: 2%;
    transition: 0.5s;
}


.location{
    position: relative;
    margin: 5%;
}

.location iframe{
    max-width: 500px;
    border-radius: 10%;
    transition: 0.5s;
}

.location iframe:hover{
    transform: scale(1.2);
    border-radius: 2%;
    transition: 0.5s;
}



.vidim{
    opacity: 1;
    filter:blur(0);
    transform: translateX(0);
    transition: 1s;
}




/* Media for navbar content */

@media only screen and (max-width: 950px) {

    body{
        display: flex;
        flex-direction: column;
    }

    nav {
        height: 15%;
        opacity: 1;
        background: black;
        border-bottom: 1px solid #9dff00;
    }

    nav .logo{
        max-width: 150px;
        max-height: 70px;
    }
    nav ul{
        position: absolute;
        width: 100%;
        background: #000;
        color: #fff;
        left: 0;
        top:100%;
        text-align: center;
        border-top: 1px solid #9dff00;
        border-bottom : 1px solid #9dff00;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    .nav-btn{
        display: none;
    }

    nav ul li{
        margin: 10px;
        font-size: 14px;
    }

    .pwa-install{
        position: relative;
        margin-top: 17vh;
    }
    
    .install-box{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5%;
        width: 90vw;
        height: 100px;
        background: black;
        opacity: 0.85;
        border-radius: 20px;
    }
    
    .install-box h1{
        margin-left: 5%;
        margin-right: 5%;
        font-size: 20px;
        font-weight: 300;
    
        color: white;
    }
    
    .install-box img{
        margin-left: 6%;
        width: 50%;
        height: 60%;
    }
    
    .install-box button{
        margin-right: 10%;
        height: 40px;
        width: 150px;
        border-radius: 2px;
        background: linear-gradient(#ffffff 0%, #848484 20%, #9dff00 100%);;
        color: rgb(0, 0, 0);
        font-size: 22px;
        font-weight: 700;
    }

    .header{
        overflow: visible;
        display: flex;
        flex-direction: column;

        width: 100%;
        height: 60vh;

        opacity: 0;
        filter: blur(2px);
        transition: 1.5s;
    }

    .left-div{
        width: 100%;
        display: block;
        justify-content: baseline;
    }

    .heading-text{
        text-align: center;
        margin-top: 60%;
        font-size: 14vw;
        line-height: 14vw;
    }

    .button-class{
        opacity: 0.5;
        text-align: center;
        font-size: 30vw;
        font-weight: 500;
        width: 100%;
        transition: 0.5s;
    }


    .right-div{
        width: 100%;
        height: 100vw;
        margin-left: 0;
        display:flex;
        justify-content: center;
    }

    .newImage{
        position: absolute;
        margin-left: 0;
        width: 80vw;
        height: 80vw;
    }

    .menu-icon{
        display:block;
        width: 40px;
    }

    .show-menu{
        max-height: 60px;
    }


    /* =================SECONDARY MOBILE================= */

    .secondary-elements{
        display: block;
        height:fit-content;
    }

    .title-text{   
        line-height: 20vw;
        position: relative;
        font-size: 40px;
    }
    .cards{
        display:block;
        align-items: center;
        justify-content: center;
    }

    .box{
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .box:hover{
        z-index: 1;
    }

    /* =================TERTIARY MOBILE================= */
    .tertiary-elements{
        width: 100%;
        display: flex;
        flex-direction: column;
        height:fit-content;
    }

    .improvement-text{
        display: flex;
        position: relative;
    }

    .image-location{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(-100%);
        opacity: 1;
        filter: blur(5px);
        transition: 1s;
    }

    .picture img, .location iframe{
        height: 100%;
        width: 100%;
    }

    .vidim{
        opacity: 1;
        filter:blur(0);
        transform: translateX(0);
        transition: 1s;
    }

} 


