*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

nav{
    background:#000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10%;
    border-bottom: 1px solid #000;
    z-index: 10;
    color: #9dff00;
}

nav ul li{
    color: #9dff00;
    font-size: 18px;
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
    font-weight: 500;
    cursor: pointer;
}

nav ul li:hover{
    animation: sizeChange;
    -webkit-animation: sizeChange 500ms;
    transform: scale(1.2);
}

nav .logo{
    width: 220px;
    height: 100px;
    cursor: pointer;
}

.nav-btn{
    background: #9dff00;
    color: #000000;
    font-size: 16px;
    padding: 15px 25px;
    border: 0;
    outline: 0;
    border-radius: 40px;
    cursor: pointer;
}

.nav-btn:hover{
    background: rgb(31, 90, 1);
    color: white;
    animation: colorChange;
    -webkit-animation: colorChange 500ms;
    -webkit-animation: sizeChange 500ms;
    transform: scale(1.2);
}

.nav-btn img{
    width: 16px;
    margin-left: 8px;
}

.header{
    width: 100%;
    min-height: 80vh;
    background: linear-gradient(#000 0%, #221b1b 80%, #321f1f 100%);
    padding: 0 10%;
    justify-content: center;
    align-items: center;
}

.header h1{
    text-align: center;
    margin-top: 300px;
    font-size: 10vw; 
    line-height: 11vw;
    color: #fff;
}

.btn-container{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    -webkit-animation: fadeInTrue 2s;
}

.header button{
    margin-top: 1%;
    border: 0;
    outline: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-right: 40px;
    cursor: pointer;
}

.yellow-btn{
    background: #9dff00;
    color: #000000;
    position: relative;
    font-size: 16px;
    padding: 15px 15px;
    border: 0;
    outline: 0;
    border-radius: 40px;
    cursor: pointer;
}

.yellow-btn img{
    width: 60px;
    border-radius: 50%;
    padding: 10px;
    margin-left: 10px;
}

.yellow-btn:hover{
    background: rgb(31, 90, 1);
    color: white;
    animation: sizeChange;
    -webkit-animation: colorChange 500ms;
    -webkit-animation: sizeChange 500ms;
    transform: scale(1.2);
}

@keyframes colorChange {
    0% {color: black;}
    100%{color: white;}
}

@keyframes sizeChange {
    0% {transform: scale(1.0);}
    100% {transform: scale(1.2);}
}

.header p{
    margin-top: 5%;
    max-width: 360px;
    color: white;
    font-weight: 500;
}

.gym-img{
    animation-name: fadeIn;
    animation-duration: 6s;
    width: 80%;
    height: 90%;
    position: absolute;
    bottom:5%;
    opacity: 20%;
}

@keyframes fadeIn{
    0% {opacity: 0%;}
    20% {opacity: 20%;}
    100% {opacity: 20%;}

}

@keyframes fadeInTrue{
    0% {opacity: 0%;}
    50% {opacity: 0%;}
    100% {opacity: 100%;}

}

.slides{
    display: none;
}

.menu-icon{
    display:none;
}

.secondary-elements{
    display: block;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0px 10%;
    background: linear-gradient(#321f1f 0%, #221b1b 20%, #000 100%);
}

.title-text{
    line-height: -30vh;
    font-size: 50px;
    color:#fff;
    text-align: center;
    overflow:inherit;

    opacity: 0;
    filter:blur(5px);
    transform: translateX(-100%);
    transition: all 0.8s;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    filter:blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}


.vidim{
    opacity: 1;
    filter:blur(0);
    transform: translateX(0);
}

.box{
    position:relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    transition: 0.5s;
}

.box .imgBox{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.box:hover{
    height: 400px;
}


.box .imgBox img{
    max-width: 100%;
    opacity: 0.5;
    transition: 0.5s;
}

.box:hover .imgBox img{
    opacity: 1;
}

.box:before{
    content:'';
    position: absolute;
    top:-2px;
    left: -2px;
    right: -2px;
    bottom:-2px;
    background: #000;
}

.box:after{
    content:'';
    position: absolute;
    top:-2px;
    left: -2px;
    right: -2px;
    bottom:-2px;
    background: #000;
    z-index: -2;
    filter: blur(40px);
    
} 

.box:before, .box:after{
    background: linear-gradient( #9dff00 0%,  #3b2b2b 20%, #4a3465 100% );
}

.box .content{
    position: absolute;
    bottom: 0;
    left: 10px;
    right:10px;
    bottom: 10px;
    height: 90px;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}

.box:hover .content{
    opacity: 1;
    transition: 0.5s;
}

.box .content h2{
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 1px;
}



/* Media for navbar content */

@media only screen and (max-width: 950px) {
    nav {
        height: 15%;
        border-bottom: 1px solid #9dff00;
    }

    nav .logo{
        max-width: 150px;
        max-height: 70px;
    }
    nav ul{
        position: absolute;
        width: 100%;
        background: #000;
        color: #fff;
        left: 0;
        top:100%;
        text-align: center;
        border-top: 1px solid #9dff00;
        border-bottom : 1px solid #9dff00;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    .nav-btn{
        display: none;
    }

    nav ul li{
        margin: 10px;
        font-size: 14px;
    }

    .header{
        overflow: visible;
        display: block;
        width: 100%;
        align-items: center;
        justify-content: center;
        
    }

    .header h1{
        text-align: center;
    }

    .menu-icon{
        display:block;
        width: 40px;
    }

    .show-menu{
        max-height: 60px;
    }
    
    .btn-container{
        display:block;
    }
    

    .yellow-btn{
        margin-top: 100px;
        display: block;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .gym-img{
        
        left: 0;
        width: 100%;
        max-height: 100vh;
    }


    .title-text{
        font-size: 40px;
    }
    .cards{
        display:block;
        align-items: center;
        justify-content: center;
    }

    .box{
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

}


