*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

nav{
    background:#000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10%;
    border-bottom: 1px solid #000;
    z-index: 10;
    color: #9dff00;
}

nav ul li{
    color: #9dff00;
    font-size: 18px;
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
    font-weight: 500;
    cursor: pointer;
}

nav ul li:hover{
    animation: sizeChange;
    -webkit-animation: sizeChange 500ms;
    transform: scale(1.2);
}

nav .logo{
    width: 220px;
    height: 100px;
    cursor: pointer;
}

.nav-btn{
    background: #9dff00;
    color: #000000;
    font-size: 16px;
    padding: 15px 25px;
    border: 0;
    outline: 0;
    border-radius: 40px;
    cursor: pointer;
}

.nav-btn:hover{
    background: rgb(31, 90, 1);
    color: white;
    animation: colorChange;
    -webkit-animation: colorChange 500ms;
    -webkit-animation: sizeChange 500ms;
    transform: scale(1.2);
}

.nav-btn img{
    width: 16px;
    margin-left: 8px;
}

.header{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(#000 0%, #221b1b 80%, #321f1f 100%);
    padding: 0 10%;
    justify-content: center;
}

.header h1{
    margin-top: 300px;
    font-size: 10vw; 
    line-height: 11vw;
    color: #fff;
}

.btn-container{
    margin: 20px 0;
}

.header button{
    margin-top: 1%;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    margin-right: 40px;
    cursor: pointer;
}

.yellow-btn{
    background: #9dff00;
    color: #000000;
    position: relative;
    font-size: 16px;
    padding: 15px 15px;
    border: 0;
    outline: 0;
    border-radius: 40px;
    cursor: pointer;
}

.yellow-btn img{
    width: 60px;
    border-radius: 50%;
    padding: 10px;
    margin-left: 10px;
}

.yellow-btn:hover{
    background: rgb(31, 90, 1);
    color: white;
    animation: sizeChange;
    -webkit-animation: colorChange 500ms;
    -webkit-animation: sizeChange 500ms;
    transform: scale(1.2);
}

@keyframes colorChange {
    0% {color: black;}
    100%{color: white;}
}

@keyframes sizeChange {
    0% {transform: scale(1.0);}
    100% {transform: scale(1.2);}
}

.header p{
    margin-top: 5%;
    max-width: 360px;
    color: white;
    font-weight: 500;
}

.gym-img{
    animation-name: fadeIn;
    animation-duration: 6s;
    width: 80%;
    height: 90%;
    position: absolute;
    bottom:5%;
    opacity: 20%;
}

@keyframes fadeIn{
    0% {opacity: 0%;}
    20% {opacity: 20%;}
    100% {opacity: 20%;}

}

.slides{
    display: none;
}

.menu-icon{
    display:none;
}



/* Media for navbar content */

@media only screen and (max-width: 950px) {
    nav {
        height: 15%;
        border-bottom: 1px solid #9dff00;
    }

    nav .logo{
        max-width: 150px;
        max-height: 70px;
    }
    nav ul{
        position: absolute;
        width: 100%;
        background: #000;
        color: #fff;
        left: 0;
        top:100%;
        text-align: center;
        border-top: 1px solid #9dff00;
        border-bottom : 1px solid #9dff00;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    .nav-btn{
        display: none;
    }

    nav ul li{
        margin: 10px;
        font-size: 14px;
    }

    .header{
        display: block;
        width: 100%;
        align-items: center;
        justify-content: center;
        
    }

    .header h1{
        margin-left: 7%;
    }

    .menu-icon{
        display:block;
        width: 40px;
    }

    .show-menu{
        max-height: 60px;
    }

    .btn-container{
        display: flex;
        flex-direction: column;
    }

    .yellow-btn{
        display: block;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}


